---
import { Icon } from 'astro-icon';

interface NavLink {
  title: string;
  url: string;
  pack?: string;
  icon: string;
}

const navLinks: NavLink[] = [
  {
    title: 'Home',
    url: '/',
    icon: 'home',
  },
  {
    title: 'About',
    url: '/about',
    icon: 'user-circle',
  },
  {
    title: 'Projects',
    url: '/projects',
    icon: 'briefcase',
  },
  {
    title: 'Blog',
    url: '/blog',
    icon: 'newspaper',
  },
  {
    title: 'Uses',
    url: '/uses',
    icon: 'chip',
  },
];

const externalLinks: NavLink[] = [
  {
    title: 'Github',
    url: 'https://github.com/smithbm2316',
    pack: 'mdi',
    icon: 'github',
  },
  {
    title: 'Email',
    url: 'mailto:bsmithdev@mailbox.org',
    icon: 'mail-open',
  },
  {
    title: 'LinkedIn',
    url: 'https://linkedin.com/in/smithbm2316',
    pack: 'mdi',
    icon: 'linkedin',
  },
  {
    title: 'Built with Astro',
    pack: 'mdi',
    url: 'https://astro.build',
    icon: 'rocket',
  },
];
---

<aside>
  <nav id='main-nav'>
    <h4>Menu</h4>
    <ul>
      {
        navLinks.map(({ url, pack, icon, title }) => (
          <li>
            <a
              href={url}
              aria-current={Astro.url.pathname === url ? 'page' : undefined}
            >
              <Icon
                class='icon'
                pack={pack}
                name={icon}
              />
              <span>{title}</span>
            </a>
            <svg
              fill='currentColor'
              viewBox='0 0 20 20'
              xmlns='http://www.w3.org/2000/svg'
              aria-hidden='true'
            >
              <path
                fill-rule='evenodd'
                d='M7.293 14.707a1 1 0 010-1.414L10.586
10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z'
                clip-rule='evenodd'
              />
            </svg>
          </li>
        ))
      }
    </ul>
    <hr class='link-divider' />
    <ul>
      {
        externalLinks.map(({ url, pack, icon, title }) => (
          <li>
            <a
              href={url}
              rel='noreferrer'
              target='_blank'
            >
              <Icon
                class='icon'
                pack={pack}
                name={icon}
              />
              <span>{title}</span>
              <Icon
                class='external-icon'
                name='external-link'
              />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>

<!--
  <div class='latest-posts'>
    <h4>Latest Posts</h4>
    <ul>
      {
        [].map((post) => (
          <li>
            <a href={`/blog/${post}`}>{post}</a>
          </li>
        ))
      }
    </ul>
  </div>
  -->

<style>
  aside {
    background-color: var(--laserwave-raisinBlack);
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    grid-row-start: 2;
    padding: 1rem;
    min-height: 100vh;
    margin-inline: auto;
    min-width: max-content;
    width: 91.66667%;
  }
  aside > * {
    margin-bottom: 1rem;
  }
  @media screen and (min-width: 640px) {
    aside {
      width: 83.333333%;
    }
  }
  @media screen and (min-width: 768px) {
    aside {
      border-radius: 0.375rem;
      grid-row-start: 1;
      height: min-content;
      margin-inline: 0;
      min-height: min-content;
      position: sticky;
      top: 0;
      max-width: 13rem;
      width: auto;
    }
  }

  h4 {
    color: white;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  li {
    position: relative;
  }

  a {
    border-radius: 0.4em;
    color: var(--laserwave-hotPink);
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  a:hover,
  a:focus-visible {
    background-color: var(--laserwave-hotPink);
    color: white;
    outline: none;
    text-decoration: none;
  }
  a > span {
    margin-inline: 0.5rem;
  }

  .icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .external-icon {
    width: 1rem;
    height: 1rem;
  }

  a ~ svg {
    height: 0;
    width: 0;
  }

  /* styles for link to current page */
  a[aria-current='page'] {
    background-color: var(--laserwave-raisinBlack);
    position: relative;
  }
  a[aria-current='page']:hover,
  a[aria-current='page']:focus-visible {
    background-color: var(--laserwave-hotPink);
    outline: none;
  }
  a[aria-current='page'] ~ svg {
    color: var(--laserwave-maximumBlue);
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    left: -1.1rem;
    top: 50%;
    translate: 0 -50%;
  }
  a[aria-current='page']:hover ~ svg,
  a[aria-current='page']:focus-visible ~ svg {
    outline: none;
    translate: -0.1rem -50%;
  }

  .link-divider {
    margin-block: 1rem;
    margin-inline: 0.5rem;
    color: var(--laserwave-oldLavender);
  }
</style>
