---
import 'tailwindcss/src/css/preflight.css';
import '../styles/global.css';

export interface Props {
  title?: string;
  og?: string | undefined;
}

const { title: pageTitle, og } = Astro.props as Props;

const title =
  typeof pageTitle === 'string' ? `${pageTitle} - Ben Smith` : 'Ben Smith';
const description = 'Web Developer with a passion for code, Neovim and coffee';
const ogImg = `${import.meta.env.SITE}og${og ?? '/fallback.png'}`;
// TODO: figure out how to get the slug of the current page to pass to your OG tags
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />
    <!-- open graph configuration -->
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:title'
      content={pageTitle}
    />
    <meta
      property='og:url'
      content={import.meta.env.SITE}
    />
    <meta
      property='og:image'
      content={ogImg}
    />
    <meta
      property='og:description'
      content={description}
    />
    <!-- twitter configuration -->
    <meta
      name='twitter:card'
      content='summary_large_image'
    />
    <meta
      name='twitter:title'
      content={pageTitle}
    />
    <meta
      name='twitter:site'
      content='@smithbm2316'
    />
    <meta
      name='twitter:description'
      content={description}
    />
    <meta
      name='twitter:image'
      content={ogImg}
    />

    <script data-goatcounter="https://smithbm2316.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
