---
import Layout from '@layouts/Layout.astro';

const {
  title,
  pubDate,
  readingTime,
  description,
  showMeTheCode,
  tags: tagsString,
  url,
} = Astro.props.frontmatter;

// check to see if our public folder has an OG image for the particular post we are given from `url`
const ogBlogImages = await Astro.glob('../../public/og/blog/*.png');
const ogImg = ogBlogImages.find((png) => png?.default?.src?.includes(url));
const og = ogImg ? `${url}.png` : undefined;

const tags = typeof tagsString === 'string' ? tagsString.split(', ') : [];

const [year, month, day]: [number, number, number] = pubDate
  .split('-')
  .map((part: string) => parseInt(part, 10));
// date object constructor expects the month index, not the actual month number
const monthIndex = month - 1;
const publishedDate = new Intl.DateTimeFormat('en-US', {
  dateStyle: 'long',
}).format(new Date(year, monthIndex, day));
---

<Layout
  title={title}
  og={og}
>
  <h1>{title}</h1>
  {typeof description === 'string' ? <h2>{description}</h2> : null}
  <div class='metadata'>
    <p>{publishedDate}</p>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a
              class='tag'
              href={`/blog/tags/${tag}`}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </ul>
    <p>{readingTime}</p>
  </div>
  {
    typeof showMeTheCode === 'boolean' && showMeTheCode ? (
      <div class='tldr'>
        <a
          class='default-link'
          href='#show-me-the-code'
        >
          TLDR? Show me the code already!
        </a>
      </div>
    ) : null
  }
  <slot />
</Layout>

<style>
  h1 {
    margin-block: 2rem;
  }

  h2 {
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 3rem;
  }

  .metadata {
    background-color: var(--laserwave-raisinBlack);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-block: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.25);
  }
  .metadata > p {
    margin: 0;
  }
  @media screen and (max-width: 640px) {
    .metadata {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  ul {
    display: flex;
    gap: 1rem;
  }

  .tag {
    color: var(--laserwave-maximumBlue);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
  }
  .tag:hover {
    text-decoration: underline;
  }
  .tag:focus-visible {
    outline-offset: 2px;
    outline: 1px solid var(--laserwave-maximumBlue);
  }
  .tag:before {
    content: '#';
    top: 0;
    bottom: 0;
    left: 0;
  }

  .tldr {
    font-size: 1.25rem;
    font-style: italic;
    margin-block-end: 1rem;
  }
</style>
